/* HEADER */
.header__nav {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: #3f9cc9;
}

.header__logo img {
    width: 300px;
}

@media(min-width: 720px) {
    .header__logo img {
        width: 500px;
    }
}

/* MENU */
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 8px;
}

.menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 0.5rem;

    font: 500 0.9em Exo;
    letter-spacing: 0.1em;

    transition: 300ms;
}

.menu__item:hover {
    background-color: white;
    color: #3f9cc9;
}

.menu__item a {
    transition: 300ms;
    text-decoration: none;
    color: white;
}

.menu__item a:hover {
    color: #3f9cc9;
}

@media(min-width: 720px) {
    .menu {
        column-gap: 33px;
        row-gap: 16px;
    }

    .menu__item {
        min-width: 200px;
        padding: 0.75em;

        font: 500 1.2em Exo;
        letter-spacing: 0.1em;
    }
}

@media(min-width: 1440px) {
    .menu__item {
        min-width: 300px;
    }
}

/* BLOCK */
.block {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 475px;
}

.block__title {
    margin: 0;

    color: #255787;

    font: 600 3em Exo;
    letter-spacing: 0.1em;
}

.block__content {
    color: #255787;

    font: 600 1em Exo;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@media(min-width: 720px) {
    .block {
        width: 475px;
    }
}

@media(min-width: 1440px) {
    .block {
        width: 675px;
    }
}

@media(max-width: 1000px) {
    .block {
        width: 80%;
    }
}

/* SERVIÇOS */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3em;
}

.services__title {
    text-align: center;
    font: 600 3em Exo;
    letter-spacing: 0.1em;
    color: #255787;
}

.services__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 3em;
}

.service {
    transition: 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    padding: 2em 1em 1em 1em;
    border-radius: 3em;
    min-width: 200px;
    background-color: #3f9cc9;
}

.service__title {
    margin: 0;

    color: white;

    font: 400 1.25em Exo;
    letter-spacing: 0.1em;
}

@media(min-width: 1440px) {
    .service {
        min-width: 250px;
        column-gap: 2em;
    }
}

@media(max-width: 720px) {
    .service {
        min-width: 250px;
        column-gap: 2em;
    }
}

/* FOOTER */
.footer__logo {
    display: flex;
    align-items: center;
    min-width: 250px;
}

.footer__list h1 {
    color: white;

    font: 500 2.2em Exo;
    letter-spacing: 0.1em;
}

.footer__list ul {
    list-style-position: inside;

    color: white;

    font: 500 1.5em Exo;
    letter-spacing: 0.1em;
}

.footer__social-media {
    display: flex;
    flex-direction: column;
}

.footer__social-media h1 {
    color: white;

    font: 500 2.2em Exo;
    letter-spacing: 0.1em;
}

.footer__social-media .images {
    display: flex;
    column-gap: 2.5em;
}

@media(max-width: 516px) {
    .footer__logo {
        width: 100%;
        justify-content: center;
        order: 1;
    }

    .footer__logo img {
        height: 75px;
    }
}